[Unit]
Description=TempMonitor
After=network.target remote-fs.target nss-lookup.target php7.0-fpm.service

[Service]
User=root
Type=simple
TimeoutSec=0
#Restart=on-failure
#RestartPreventExitStatus=1
#PrivateTmp=false
PIDFile=/var/run/php_app_sync.pid

WorkingDirectory=/home/pi/TempSensors
ExecStart=/bin/sh -c '/usr/bin/php -f /home/pi/TempSensors/TempMonitor.php'
KillMode=control-group
ExecStop=

Restart=on-failure
WantedBy=multi-user.target
